* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* header setup */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* header setup */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* seo color change */
.seo {
    color: #d9dcd6;
}

/* navigation bar setup */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* navigation bar setup - no list bullet points */
nav ul {
    list-style-type: none;
}

/* navigation bar - list elements on one line */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Link setup */
a {
    color: #ffffff;
    text-decoration: none;
}

/* paragraph foont size */
p {
    font-size: 16px;
}

/* set background picture */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* left floting images */
.float-left {
    float: left;
    margin-right: 25px;
}

/* right floting images */
.float-right {
    float: right;
    margin-left: 25px;
}

/* main content setup */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* side bar setup */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* side bar setup */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* side bar header setup */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* side bar logo setup */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* main content setup */
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* main image setup */
.content img {
    max-height: 200px;
}

/* main content header setup */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* footer setup */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* footer header setup */
footer h2 {
    font-size: 20px;
}
